/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
Gemfile.lock
spec/rails-dummy/node_modules/
.DS_Store

# Rails asset builds
/spec/rails-dummy/public/assets/
/spec/rails-dummy/app/assets/builds/*
!/spec/rails-dummy/app/assets/builds/.keep
