/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
Gemfile.lock
spec/rails-dummy/node_modules/
.DS_Store

# Rails asset builds
/spec/rails-dummy/public/assets/
/spec/rails-dummy/app/assets/builds/*
!/spec/rails-dummy/app/assets/builds/.keep
spec/rails-dummy/docs/*

# SQlite
*.sqlite3
*.sqlite3-*
db/test.sqlite3
spec/rails-dummy/db/*sqlite3
spec/rails-dummy/db/test.sqlite3
